![](images/08_03.png)
![](images/08_04.png)

In [1]:
df = data.frame(state.abb, state.area, state.division, state.region, 
                row.names = state.name)

head(df)

           state.abb state.area state.division     state.region
Alabama    AL         51609     East South Central South
Alaska     AK        589757     Pacific            West
Arizona    AZ        113909     Mountain           West
Arkansas   AR         53104     West South Central South
California CA        158693     Pacific            West
Colorado   CO        104247     Mountain           West

In [2]:
colnames(df) = substr(colnames(df), 7, 9)

In [3]:
head(df)

           abb are    div                reg
Alabama    AL   51609 East South Central South
Alaska     AK  589757 Pacific            West
Arizona    AZ  113909 Mountain           West
Arkansas   AR   53104 West South Central South
California CA  158693 Pacific            West
Colorado   CO  104247 Mountain           West

In [4]:
df_new = cbind(state.x77, df)

In [6]:
head(df_new)

           Population Income Illiteracy Life Exp Murder HS Grad Frost Area
Alabama     3615      3624   2.1        69.05    15.1   41.3     20    50708
Alaska       365      6315   1.5        69.31    11.3   66.7    152   566432
Arizona     2212      4530   1.8        70.55     7.8   58.1     15   113417
Arkansas    2110      3378   1.9        70.66    10.1   39.9     65    51945
California 21198      5114   1.1        71.71    10.3   62.6     20   156361
Colorado    2541      4884   0.7        72.06     6.8   63.9    166   103766
           abb are    div                reg
Alabama    AL   51609 East South Central South
Alaska     AK  589757 Pacific            West
Arizona    AZ  113909 Mountain           West
Arkansas   AR   53104 West South Central South
California CA  158693 Pacific            West
Colorado   CO  104247 Mountain           West

In [8]:
df_new = subset(df_new, 
                select = -c(4, 6, 7, 9, 10))

In [9]:
head(df_new)

           Population Income Illiteracy Murder Area   div                reg
Alabama     3615      3624   2.1        15.1    50708 East South Central South
Alaska       365      6315   1.5        11.3   566432 Pacific            West
Arizona     2212      4530   1.8         7.8   113417 Mountain           West
Arkansas    2110      3378   1.9        10.1    51945 West South Central South
California 21198      5114   1.1        10.3   156361 Pacific            West
Colorado    2541      4884   0.7         6.8   103766 Mountain           West

In [10]:
df_new$Illiteracy.Levels = ifelse(df_new$Illiteracy >= 0 & df_new$Illiteracy < 1, 'Low',
                                 ifelse(df_new$Illiteracy >= 1 & df_new$Illiteracy < 2, 'Some',
                                       'High'))

In [11]:
head(df_new)

           Population Income Illiteracy Murder Area   div                reg
Alabama     3615      3624   2.1        15.1    50708 East South Central South
Alaska       365      6315   1.5        11.3   566432 Pacific            West
Arizona     2212      4530   1.8         7.8   113417 Mountain           West
Arkansas    2110      3378   1.9        10.1    51945 West South Central South
California 21198      5114   1.1        10.3   156361 Pacific            West
Colorado    2541      4884   0.7         6.8   103766 Mountain           West
           Illiteracy.Levels
Alabama    High
Alaska     Some
Arizona    Some
Arkansas   Some
California Some
Colorado   Low

In [12]:
levels(df_new$reg)

[1] "Northeast"     "South"         "North Central" "West"