![](images/08_05.png)
![](images/08_06.png)

In [1]:
library("tidyverse")

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.2     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
data = read.csv("./data/Obesity_data.csv")

In [4]:
head(data)

  id gender height weight bmi  age bmc  bmd  fat   lean  pcfat
1 1  F      150    49     21.8 53  1312 0.88 17802 28600 37.3
2 2  M      165    52     19.1 65  1309 0.84  8381 40229 16.8
3 3  F      157    57     23.1 64  1230 0.84 19221 36057 34.0
4 4  F      156    53     21.8 56  1171 0.80 17472 33094 33.8
5 5  M      160    51     19.9 54  1681 0.98  7336 40621 14.8
6 6  F      153    47     20.1 52  1358 0.91 14904 30068 32.2

In [5]:
data1 = data %>% select(c(2, 3, 4, 5, 6))

In [6]:
head(data1)

  gender height weight bmi  age
1 F      150    49     21.8 53
2 M      165    52     19.1 65
3 F      157    57     23.1 64
4 F      156    53     21.8 56
5 M      160    51     19.9 54
6 F      153    47     20.1 52

In [7]:
data1 = data %>% select(gender, height, weight, bmi, age)

In [8]:
head(data1)

  gender height weight bmi  age
1 F      150    49     21.8 53
2 M      165    52     19.1 65
3 F      157    57     23.1 64
4 F      156    53     21.8 56
5 M      160    51     19.9 54
6 F      153    47     20.1 52

In [9]:
data2 = data1 %>% filter(bmi >= 18.5, bmi <= 24.9)

In [10]:
head(data2)

  gender height weight bmi  age
1 F      150    49     21.8 53
2 M      165    52     19.1 65
3 F      157    57     23.1 64
4 F      156    53     21.8 56
5 M      160    51     19.9 54
6 F      153    47     20.1 52

In [11]:
data1 = mutate(data1, height_m = height/100)

In [12]:
head(data1)

  gender height weight bmi  age height_m
1 F      150    49     21.8 53  1.50
2 M      165    52     19.1 65  1.65
3 F      157    57     23.1 64  1.57
4 F      156    53     21.8 56  1.56
5 M      160    51     19.9 54  1.60
6 F      153    47     20.1 52  1.53

In [13]:
head(arrange(data1, bmi))

  gender height weight bmi  age height_m
1 M      162    38     14.5 55  1.62
2 F      162    40     15.2 54  1.62
3 F      151    35     15.4 33  1.51
4 F      155    37     15.4 44  1.55
5 F      150    35     15.6 24  1.50
6 M      169    45     15.8 50  1.69

In [14]:
group = group_by(data1, gender)
summary = summarise(group, count = n(),
                   mean.height = mean(height, na.rm = T),
                   mean.weight = mean(weight, na.rm = T))

In [15]:
summary

  gender count mean.height mean.weight
1 F      862   153.2912    52.31090
2 M      355   165.0592    62.02254

In [18]:
head(count(data1, gender, age))

  gender age n
1 F      14   4
2 F      16   2
3 F      18  10
4 F      19  27
5 F      20  13
6 F      21   8

In [19]:
data3 = data1 %>% sample_n(10)

In [20]:
data3

   gender height weight bmi  age height_m
1  F      152    46     19.9 55  1.52
2  F      155    51     21.2 26  1.55
3  F      151    47     20.6 77  1.51
4  F      138    41     21.5 71  1.38
5  F      153    44     18.8 44  1.53
6  M      169    58     20.3 26  1.69
7  M      164    73     27.1 50  1.64
8  F      153    51     21.8 32  1.53
9  F      153    60     25.6 72  1.53
10 F      155    52     21.6 56  1.55

In [21]:
data4 = data %>% sample_frac(0.01)

In [22]:
head(data4)

  id  gender height weight bmi  age bmc  bmd  fat   lean  pcfat
1 740 F      158    55     22.0 47  1805 1.04 19932 32668 36.9
2 722 M      176    74     23.9 28  3019 1.27 13137 58320 17.6
3 470 M      175    58     18.9 21  2244 1.11  8883 44689 15.9
4 170 F      147    47     21.8 45  1587 1.02 17713 28959 36.7
5   2 M      165    52     19.1 65  1309 0.84  8381 40229 16.8
6 924 M      168    58     20.5 18  1669 0.88 13035 43302 22.5