# Exercise 8: Tech_com - line graph
![](images/11_12.png)

In [1]:
data = read.csv("./data/Tech_comp.csv")

In [2]:
data

  Company  Women..all Women..tech. Men..all. Men..tech.
1 Facebook 32         16           84        68
2 Google   30         18           82        70
3 Apple    30         20           80        70
4 Yahoo    37         15           85        62