![](images/09_04.png)

In [1]:
library("tidyverse")
library("xlsx")

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.2     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
data = read.csv("./data/medals.csv")

In [3]:
head(data)

  Year City     Sport      Discipline     NOC Event           Event.gender
1 1924 Chamonix Skating    Figure skating AUT individual      M
2 1924 Chamonix Skating    Figure skating AUT individual      W
3 1924 Chamonix Skating    Figure skating AUT pairs           X
4 1924 Chamonix Bobsleigh  Bobsleigh      BEL four-man        M
5 1924 Chamonix Ice Hockey Ice Hockey     CAN ice hockey      M
6 1924 Chamonix Biathlon   Biathlon       FIN military patrol M
  Medal
1 Silver
2 Gold
3 Gold
4 Bronze
5 Gold
6 Silver

In [4]:
str(data)

'data.frame':	2314 obs. of  8 variables:
 $ Year        : chr  "1924" "1924" "1924" "1924" ...
 $ City        : chr  "Chamonix" "Chamonix" "Chamonix" "Chamonix" ...
 $ Sport       : chr  "Skating" "Skating" "Skating" "Bobsleigh" ...
 $ Discipline  : chr  "Figure skating" "Figure skating" "Figure skating" "Bobsleigh" ...
 $ NOC         : chr  "AUT" "AUT" "AUT" "BEL" ...
 $ Event       : chr  "individual" "individual" "pairs" "four-man" ...
 $ Event.gender: chr  "M" "W" "X" "M" ...
 $ Medal       : chr  "Silver" "Gold" "Gold" "Bronze" ...

In [5]:
class(data)

[1] "data.frame"

In [6]:
ncol(data)

[1] 8

In [7]:
nrow(data)

[1] 2314

In [8]:
dim(data)

[1] 2314    8

In [9]:
names(data)

[1] "Year"         "City"         "Sport"        "Discipline"   "NOC"
[6] "Event"        "Event.gender" "Medal"

In [10]:
data_1932_skiing = subset(data, Year == 1932 & Sport == 'Skiing')

In [11]:
data_1932_skiing

    Year City        Sport  Discipline      NOC Event
100 1932 Lake Placid Skiing Cross Country S FIN 18km
101 1932 Lake Placid Skiing Cross Country S FIN 50km
102 1932 Lake Placid Skiing Cross Country S FIN 50km
110 1932 Lake Placid Skiing Cross Country S NOR 50km
111 1932 Lake Placid Skiing Nordic Combined NOR individual
112 1932 Lake Placid Skiing Nordic Combined NOR individual
113 1932 Lake Placid Skiing Nordic Combined NOR individual
114 1932 Lake Placid Skiing Ski Jumping     NOR K90 individual (70m)
115 1932 Lake Placid Skiing Ski Jumping     NOR K90 individual (70m)
116 1932 Lake Placid Skiing Ski Jumping     NOR K90 individual (70m)
119 1932 Lake Placid Skiing Cross Country S SWE 18km
120 1932 Lake Placid Skiing Cross Country S SWE 18km
    Event.gender Medal
100 M            Bronze
101 M            Gold
102 M            Silver
110 M            Bronze
111 M            Bronze
112 M            Gold
113 M            Silver
114 M            Bronze
115 M            Gold
116 M            Silver
119 M            Gold
120 M            Silver

In [13]:
write.xlsx(data_1932_skiing, file = "./data/medals_new.xlsx",
          sheetName = "1932_skiing", append = FALSE)