![](images/09_05.png)

In [2]:
library("xlsx")

In [3]:
data_1932_skiing = read.xlsx("./data/medals_new.xlsx", 
                             sheetName = "1932_skiing")

In [4]:
data_1932_skiing

   NA. Year City        Sport  Discipline      NOC Event
1  100 1932 Lake Placid Skiing Cross Country S FIN 18km
2  101 1932 Lake Placid Skiing Cross Country S FIN 50km
3  102 1932 Lake Placid Skiing Cross Country S FIN 50km
4  110 1932 Lake Placid Skiing Cross Country S NOR 50km
5  111 1932 Lake Placid Skiing Nordic Combined NOR individual
6  112 1932 Lake Placid Skiing Nordic Combined NOR individual
7  113 1932 Lake Placid Skiing Nordic Combined NOR individual
8  114 1932 Lake Placid Skiing Ski Jumping     NOR K90 individual (70m)
9  115 1932 Lake Placid Skiing Ski Jumping     NOR K90 individual (70m)
10 116 1932 Lake Placid Skiing Ski Jumping     NOR K90 individual (70m)
11 119 1932 Lake Placid Skiing Cross Country S SWE 18km
12 120 1932 Lake Placid Skiing Cross Country S SWE 18km
   Event.gender Medal
1  M            Bronze
2  M            Gold
3  M            Silver
4  M            Bronze
5  M            Bronze
6  M            Gold
7  M            Silver
8  M            Bronze
9  M            Gold
10 M            Silver
11 M            Gold
12 M            Silver

In [7]:
data_1932_skiing['NA.'] = NULL

In [8]:
data_1932_skiing

   Year City        Sport  Discipline      NOC Event
1  1932 Lake Placid Skiing Cross Country S FIN 18km
2  1932 Lake Placid Skiing Cross Country S FIN 50km
3  1932 Lake Placid Skiing Cross Country S FIN 50km
4  1932 Lake Placid Skiing Cross Country S NOR 50km
5  1932 Lake Placid Skiing Nordic Combined NOR individual
6  1932 Lake Placid Skiing Nordic Combined NOR individual
7  1932 Lake Placid Skiing Nordic Combined NOR individual
8  1932 Lake Placid Skiing Ski Jumping     NOR K90 individual (70m)
9  1932 Lake Placid Skiing Ski Jumping     NOR K90 individual (70m)
10 1932 Lake Placid Skiing Ski Jumping     NOR K90 individual (70m)
11 1932 Lake Placid Skiing Cross Country S SWE 18km
12 1932 Lake Placid Skiing Cross Country S SWE 18km
   Event.gender Medal
1  M            Bronze
2  M            Gold
3  M            Silver
4  M            Bronze
5  M            Bronze
6  M            Gold
7  M            Silver
8  M            Bronze
9  M            Gold
10 M            Silver
11 M            Gold
12 M            Silver

In [9]:
n = sum(data_1932_skiing['Medal'] == 'Gold')

In [10]:
n

[1] 4

In [13]:
data_golden_medals = data_1932_skiing[data_1932_skiing[,'Medal'] == 'Gold',]

In [14]:
data_golden_medals

   Year City        Sport  Discipline      NOC Event
2  1932 Lake Placid Skiing Cross Country S FIN 50km
6  1932 Lake Placid Skiing Nordic Combined NOR individual
9  1932 Lake Placid Skiing Ski Jumping     NOR K90 individual (70m)
11 1932 Lake Placid Skiing Cross Country S SWE 18km
   Event.gender Medal
2  M            Gold
6  M            Gold
9  M            Gold
11 M            Gold