![](images/09_03.png)

In [1]:
df = read.csv("./data/states2.csv",
             row.names = 1,
             sep = ";",
             dec = ",")

In [2]:
head(df)

           Population Income Illiteracy Life.Exp Murder HS.Grad Frost Area
Alabama     3615      3624   2.1        69.05    15.1   41.3     20    50708
Alaska       365      6315   1.5        69.31    11.3   66.7    152   566432
Arizona     2212      4530   1.8        70.55     7.8   58.1     15   113417
Arkansas    2110      3378   1.9        70.66    10.1   39.9     65    51945
California 21198      5114   1.1        71.71    10.3   62.6     20   156361
Colorado    2541      4884   0.7        72.06     6.8   63.9    166   103766

In [3]:
df1 = subset(df, df$Income > 4500 & df$Population > 10000)

In [5]:
head(df1)

           Population Income Illiteracy Life.Exp Murder HS.Grad Frost Area
California 21198      5114   1.1        71.71    10.3   62.6     20   156361
Illinois   11197      5107   0.9        70.14    10.3   52.6    127    55748
New York   18076      4903   1.4        70.55    10.9   52.7     82    47831
Ohio       10735      4561   0.8        70.82     7.4   53.2    124    40975

In [9]:
library("tidyverse")
df1 = df %>% filter(Income > 4500, Population > 10000)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.2     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [10]:
df1

           Population Income Illiteracy Life.Exp Murder HS.Grad Frost Area
California 21198      5114   1.1        71.71    10.3   62.6     20   156361
Illinois   11197      5107   0.9        70.14    10.3   52.6    127    55748
New York   18076      4903   1.4        70.55    10.9   52.7     82    47831
Ohio       10735      4561   0.8        70.82     7.4   53.2    124    40975

In [6]:
write.csv(df1, file="./data/states_income.csv")

In [7]:
dfa = read.csv("./data/states_income.csv", row.names = 1)
dfa

           Population Income Illiteracy Life.Exp Murder HS.Grad Frost Area
California 21198      5114   1.1        71.71    10.3   62.6     20   156361
Illinois   11197      5107   0.9        70.14    10.3   52.6    127    55748
New York   18076      4903   1.4        70.55    10.9   52.7     82    47831
Ohio       10735      4561   0.8        70.82     7.4   53.2    124    40975