![](images/07_07.png)

In [2]:
v = list(c('a', 'b', 'c'),
        c(1, 2, 3), 10)
names(v) = c('one', 'two', 'three')

v

$one
[1] "a" "b" "c"

$two
[1] 1 2 3

$three
[1] 10

In [4]:
for (r in v) {
    writeLines(toString(length(r)))
}

3
3
1

In [5]:
z = list(c('a', 'b', 'c'),
        c(1, 3, 5, 7), TRUE)

In [7]:
setdiff(v, z)

[[1]]
[1] 1 2 3

[[2]]
[1] 10

In [9]:
setdiff(z, v)

[[1]]
[1] 1 3 5 7

[[2]]
[1] TRUE