![](images/07_03.png)

In [2]:
matrix_1 = matrix(1:9, nrow=3, byrow=TRUE)
matrix_2 = matrix(10:18, nrow=3, byrow=TRUE)

A3 = array(c(matrix_1, matrix_2), dim=c(3, 3, 2),
          dimnames = list(c('r1', 'r2', 'r3'),
                         c('c1', 'c2', 'c3'),
                         c('matrix1', 'matrix2')))

print(A3)

, , matrix1

   c1 c2 c3
r1  1  2  3
r2  4  5  6
r3  7  8  9

, , matrix2

   c1 c2 c3
r1 10 11 12
r2 13 14 15
r3 16 17 18

In [3]:
A3[,,2]

   c1 c2 c3
r1 10 11 12
r2 13 14 15
r3 16 17 18

In [4]:
apply(A3, c(1), sum)

r1 r2 r3
39 57 75

In [5]:
apply(A3, c(2), sum)

c1 c2 c3
51 57 63

In [6]:
apply(A3, c(3), sum)

matrix1 matrix2
     45     126

In [7]:
sum(A3[1,,1])

[1] 6

In [9]:
prod(A3[,2, 2])

[1] 2618