# Bài tập số 1
* Definition of `survey_vector`

In [2]:
survey_vector <- c("R", "R", "L", "L", "R", "R", "C", "C")

* Create survey_vector as a factor: `survey_factor`

In [3]:
survey_factor = as.factor(survey_vector)

* Print `survey_factor`

In [5]:
print(survey_factor)

[1] R R L L R R C C
Levels: C L R

* Print levels of `survey_factor`

In [6]:
levels(survey_factor)

[1] "C" "L" "R"

* Print nlevels of `survey_factor`

In [7]:
nlevels(survey_factor)

[1] 3

* How many elements of each factor?

In [10]:
as.data.frame(table(survey_factor))

  survey_factor Freq
1 C             2
2 L             2
3 R             4

# Bài tập số 2

* Create `my_vector`: 1 up to 10

In [13]:
my_vector = 1:10

In [14]:
my_vector

 [1]  1  2  3  4  5  6  7  8  9 10

* Create `my_matrix` (3x3): 1 up to 9

In [15]:
my_matrix = matrix(1:9, nrow = 3, byrow = TRUE)

In [16]:
my_matrix

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

* Create `my_factor` from sizes

In [11]:
sizes <-c("M","S","L","L","M")

In [17]:
my_factor = as.factor(sizes)

In [18]:
my_factor

[1] M S L L M
Levels: L M S

* Construct `my_list` with the three data structures above

In [19]:
my_list = list(my_vector, my_matrix, my_factor)

In [20]:
my_list

[[1]]
 [1]  1  2  3  4  5  6  7  8  9 10

[[2]]
     [,1] [,2] [,3]
[1,]    1    2    3
[2,]    4    5    6
[3,]    7    8    9

[[3]]
[1] M S L L M
Levels: L M S

* Construct `my_super_list` with the four data structures above

In [21]:
my_super_list = list(my_vector, my_matrix, my_factor, my_list)

* Display structure of `my_super_list` (Use `str()`)

In [22]:
str(my_super_list)

List of 4
 $ : int [1:10] 1 2 3 4 5 6 7 8 9 10
 $ : int [1:3, 1:3] 1 4 7 2 5 8 3 6 9
 $ : Factor w/ 3 levels "L","M","S": 2 3 1 1 2
 $ :List of 3
  ..$ : int [1:10] 1 2 3 4 5 6 7 8 9 10
  ..$ : int [1:3, 1:3] 1 4 7 2 5 8 3 6 9
  ..$ : Factor w/ 3 levels "L","M","S": 2 3 1 1 2

* Print `my_matrix`, sum of `my_matrix`, sum of even elements in `my_matrix`

In [23]:
print(my_matrix)

     [,1] [,2] [,3]
[1,]    1    2    3
[2,]    4    5    6
[3,]    7    8    9

In [24]:
sum(my_matrix)

[1] 45

In [28]:
even_numbers = sum(my_matrix[my_matrix[my_matrix %% 2 == 0]])

In [29]:
even_numbers

[1] 20

# Bài tập số 3

In [39]:
sieveOfEratosthenes = function(n=1000) {
    primes = logical(n) | TRUE
    res = c()
    p = 2
    
    while (p*p <= n) {
        if (primes[p] == TRUE) {
            for (i in seq(from = p*p, to = n, by = p)) {
                primes[i] = FALSE
            }
        }
        
        p = p + 1
    }
    
    for (p in (2:n)) {
        if (primes[p]) {
            res = append(res, p)
        }
    }
    
    return (res)
}

In [46]:
createMatrix = function(size=4, n=1000) {
    primes = sieveOfEratosthenes(n)
    elements = sample(primes, size*size, TRUE)
    
    return (matrix(elements, nrow = size))
}

* Create `my_matrix` (4x4): each element is a randomly generated prime number.

In [47]:
my_matrix = createMatrix()

In [48]:
my_matrix

     [,1] [,2] [,3] [,4]
[1,] 251  881  751  433
[2,] 769   43  167  911
[3,] 811  569  593  439
[4,] 379  347  149  307

* Sum the elements on the main diagonal of the matrix
_(Note: Build function to `create_matrix`, function to `test_Prime` number, and function to `Sum`... >> Call function)_

In [49]:
elements_on_diagonal = diag(my_matrix)

In [50]:
elements_on_diagonal

[1] 251  43 593 307

In [51]:
sum(elements_on_diagonal)

[1] 1194

# Bài tập số 4

* Create `my_array` (4, 4, 2): from 2 matrices created by calling function create_matrix (Bai tap so 3)

In [53]:
m1 = createMatrix()
m2 = createMatrix()
my_array = array(c(m1, m2), dim=c(4, 4, 2))

In [55]:
print(my_array)

, , 1

     [,1] [,2] [,3] [,4]
[1,]  601  401   83  797
[2,]   67  337  857    3
[3,]   29  331  277  521
[4,]  947  997  293  337

, , 2

     [,1] [,2] [,3] [,4]
[1,]  937  457  929   19
[2,]  653  929  761  113
[3,]  757  709  863  353
[4,]   37  991  283  541

* Use apply to calculate the min of the rows across all the matrices.

In [58]:
apply(my_array[,,1], c(1), min)

[1]  83   3  29 293

In [59]:
apply(my_array[,,2], c(1), min)

[1]  19 113 353  37

* Use apply to calculate the max of the columns across all the matrices.

In [60]:
apply(my_array[,,1], c(2), max)

[1] 947 997 857 797

In [61]:
apply(my_array[,,2], c(2), max)

[1] 937 991 929 541

* Use apply to calculate the sum of each matrix in `my_array`

In [62]:
sum(my_array[,,1])

[1] 6878

In [63]:
sum(my_array[,,2])

[1] 9332

# Bài tập số 5

* Create title, actors, reviews

In [64]:
title = "The Shining"
actors_vector <- c("Jack Nicholson","Shelley Duvall","Danny Lloyd","Scatman Crothers","Barry Nelson")
reviews_factor <- factor(c("Good", "OK", "Good", "Perfect", "Bad", "Perfect", "Good"), 
                  ordered = TRUE, levels = c("Bad", "OK", "Good", "Perfect"))

* Create the list `shining_list` from 3 vectors above

In [65]:
shining_list = list(title, actors_vector, reviews_factor)

* Select the last actor from list: `last_actor`

In [68]:
last_actor = tail(shining_list[[2]], 1)[1]

In [69]:
last_actor

[1] "Barry Nelson"

* Select the second review from list: `second_review`

In [74]:
second_review = shining_list[[3]][2]

In [75]:
second_review

[1] OK
Levels: Bad < OK < Good < Perfect

* Add the element `release_year = 1980` to `shining_list`

In [76]:
release_year = 1980
shining_list[length(shining_list) + 1] = release_year

* Add the element `director = "Stanley Kubrick"` to `shining_list`

In [77]:
director = "Stanley Kubrick"
shining_list[length(shining_list) + 1] = director

* Print list `shining_list`

In [78]:
shining_list

[[1]]
[1] "The Shining"

[[2]]
[1] "Jack Nicholson"   "Shelley Duvall"   "Danny Lloyd"      "Scatman Crothers"
[5] "Barry Nelson"

[[3]]
[1] Good    OK      Good    Perfect Bad     Perfect Good
Levels: Bad < OK < Good < Perfect

[[4]]
[1] 1980

[[5]]
[1] "Stanley Kubrick"

* Print the structure of `shining_list`

In [79]:
str(shining_list)

List of 5
 $ : chr "The Shining"
 $ : chr [1:5] "Jack Nicholson" "Shelley Duvall" "Danny Lloyd" "Scatman Crothers" ...
 $ : Ord.factor w/ 4 levels "Bad"<"OK"<"Good"<..: 3 2 3 4 1 4 3
 $ : num 1980
 $ : chr "Stanley Kubrick"

# Bài tập số 6
* Hãy thực hiện những yêu cầu sau với R-core dataframe và/ hoặc Tidyverse
    1. Cho dữ liệu mtcars cho sẵn trong R datasets. Đọc dữ liệu. Hiển thị thông tin một số dòng đầu của dữ liệu. In thông tin thống kê chung.
    2. Tạo sub_data chỉ có các thông tin mpg, hp, wt, gear
    3. Tạo cột mới km_per_litre trong sub_data theo công thức: 1 mpg = 0.425 km/l
    4. Tạo sub_data_unique lấy từ mtcars nhưng loại bỏ các dòng trùng (dùng distinct()
    5. In sub_data_unique với giá trị được sắp xếp giảm dần theo mpg, tăng dần theo hp
    6. Lọc các xe mà trong tên xe có 'Mazda' trong sub_data_unique. Có bao nhiêu xe thỏa điều kiện này?
    7. Trong sub_data_unique, cho biết giá trị mpg lớn nhất? Có những dòng dữ liệu nào có mpg = mpg lớn nhất, in kết quả.
    8. Lọc các dữ liệu thỏa các điểu kiện sau: mpg >= 25 và cyl=4 và gear=4
    9. Thực hiện việc thống kê theo cyl, từ đó cho biết số lượng từng nhóm, cyl, hp lớn nhất, mpg nhỏ nhất
    10. Trong sub_data, cho biết xe nào có km_per_litre lớn nhất, nhỏ nhất?

* **Note**: dùng df = cbind(names = rownames(df), df) hoặc rownames_to_column(df, var = "names"): chuyển cột index thành cột "names"

In [80]:
library("tidyverse")

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.2     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

#### Task 1

In [85]:
data = data.frame(mtcars)

In [86]:
head(data)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

#### Task 2

In [87]:
sub_data = data %>% select(mpg, hp, wt, gear)

In [89]:
head(sub_data)

                  mpg  hp  wt    gear
Mazda RX4         21.0 110 2.620 4
Mazda RX4 Wag     21.0 110 2.875 4
Datsun 710        22.8  93 2.320 4
Hornet 4 Drive    21.4 110 3.215 3
Hornet Sportabout 18.7 175 3.440 3
Valiant           18.1 105 3.460 3

#### Task 3

In [91]:
one_mpg = 0.425
sub_data$km_per_litre = one_mpg * sub_data$mpg

In [93]:
head(sub_data)

                  mpg  hp  wt    gear km_per_litre
Mazda RX4         21.0 110 2.620 4    8.9250
Mazda RX4 Wag     21.0 110 2.875 4    8.9250
Datsun 710        22.8  93 2.320 4    9.6900
Hornet 4 Drive    21.4 110 3.215 3    9.0950
Hornet Sportabout 18.7 175 3.440 3    7.9475
Valiant           18.1 105 3.460 3    7.6925

#### Task 4

In [98]:
sub_data_unique = distinct(mtcars)

In [100]:
head(sub_data_unique)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

#### Task 5

In [101]:
head(arrange(sub_data_unique, desc(mpg), hp))

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2

#### Task 6

In [126]:
filter(sub_data_unique, grepl("mazda", tolower(rownames(sub_data_unique))) == TRUE)

              mpg cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4     21  6   160  110 3.9  2.620 16.46 0  1  4    4
Mazda RX4 Wag 21  6   160  110 3.9  2.875 17.02 0  1  4    4

#### Task 7

In [133]:
max_mpg = max(sub_data_unique$mpg)

In [134]:
max_mpg

[1] 33.9

In [135]:
filter(sub_data_unique, mpg == max_mpg)

               mpg  cyl disp hp drat wt    qsec vs am gear carb
Toyota Corolla 33.9 4   71.1 65 4.22 1.835 19.9 1  1  4    1

#### Task 8

In [139]:
filter(sub_data_unique, mpg >= 25, cyl == 4, gear == 4)

               mpg  cyl disp hp drat wt    qsec  vs am gear carb
Fiat 128       32.4 4   78.7 66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4   75.7 52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4   71.1 65 4.22 1.835 19.90 1  1  4    1
Fiat X1-9      27.3 4   79.0 66 4.08 1.935 18.90 1  1  4    1

#### Task 9

In [142]:
cyl_group = group_by(sub_data_unique, cyl)

summary_cyl= summarize(cyl_group,
                       count=n(),
                       max.hp=max(hp, na.rm=T),
                       min.hp=min(mpg, na.rm=T))
summary_cyl

  cyl count max.hp min.hp
1 4   11    113    21.4
2 6    7    175    17.8
3 8   14    335    10.4

#### Task 10

In [143]:
min(sub_data$km_per_litre)

[1] 4.42

In [144]:
max(sub_data$km_per_litre)

[1] 14.4075