![](images/08_02.png)

In [1]:
head(state.x77)

           Population Income Illiteracy Life Exp Murder HS Grad Frost Area
Alabama     3615      3624   2.1        69.05    15.1   41.3     20    50708
Alaska       365      6315   1.5        69.31    11.3   66.7    152   566432
Arizona     2212      4530   1.8        70.55     7.8   58.1     15   113417
Arkansas    2110      3378   1.9        70.66    10.1   39.9     65    51945
California 21198      5114   1.1        71.71    10.3   62.6     20   156361
Colorado    2541      4884   0.7        72.06     6.8   63.9    166   103766

In [2]:
df = data.frame(state.x77)

In [3]:
str(df)

'data.frame':	50 obs. of  8 variables:
 $ Population: num  3615 365 2212 2110 21198 ...
 $ Income    : num  3624 6315 4530 3378 5114 ...
 $ Illiteracy: num  2.1 1.5 1.8 1.9 1.1 0.7 1.1 0.9 1.3 2 ...
 $ Life.Exp  : num  69 69.3 70.5 70.7 71.7 ...
 $ Murder    : num  15.1 11.3 7.8 10.1 10.3 6.8 3.1 6.2 10.7 13.9 ...
 $ HS.Grad   : num  41.3 66.7 58.1 39.9 62.6 63.9 56 54.6 52.6 40.6 ...
 $ Frost     : num  20 152 15 65 20 166 139 103 11 60 ...
 $ Area      : num  50708 566432 113417 51945 156361 ...

In [4]:
is.data.frame(df)

[1] TRUE

In [8]:
df[df$Income <4300,]

               Population Income Illiteracy Life.Exp Murder HS.Grad Frost
Alabama         3615      3624   2.1        69.05    15.1   41.3     20
Arkansas        2110      3378   1.9        70.66    10.1   39.9     65
Georgia         4931      4091   2.0        68.54    13.9   40.6     60
Idaho            813      4119   0.6        71.87     5.3   59.5    126
Kentucky        3387      3712   1.6        70.10    10.6   38.5     95
Louisiana       3806      3545   2.8        68.76    13.2   42.2     12
Maine           1058      3694   0.7        70.39     2.7   54.7    161
Mississippi     2341      3098   2.4        68.09    12.5   41.0     50
Missouri        4767      4254   0.8        70.69     9.3   48.8    108
New Hampshire    812      4281   0.7        71.23     3.3   57.6    174
New Mexico      1144      3601   2.2        70.32     9.7   55.2    120
North Carolina  5441      3875   1.8        69.21    11.1   38.5     80
Oklahoma        2715      3983   1.1        71.42     6.4   51.6     82
South Carolina  2816      3635   2.3        67.96    11.6   37.8     65
South Dakota     681      4167   0.5        72.08     1.7   53.3    172
Tennessee       4173      3821   1.7        70.11    11.0   41.8     70
Texas          12237      4188   2.2        70.90    12.2   47.4     35
Utah            1203      4022   0.6        72.90     4.5   67.3    137
Vermont          472      3907   0.6        71.64     5.5   57.1    168
West Virginia   1799      3617   1.4        69.48     6.7   41.6    100
               Area
Alabama         50708
Arkansas        51945
Georgia         58073
Idaho           82677
Kentucky        39650
Louisiana       44930
Maine           30920
Mississippi     47296
Missouri        68995
New Hampshire    9027
New Mexico     121412
North Carolina  48798
Oklahoma        68782
South Carolina  30225
South Dakota    75955
Tennessee       41328
Texas          262134
Utah            82096
Vermont          9267
West Virginia   24070

In [13]:
df[which.max(df$Income), 'Income']

[1] 6315

In [14]:
df[which.max(df$Life.Exp), 'Life.Exp']

[1] 73.6

In [15]:
df[which.min(df$Life.Exp), 'Life.Exp']

[1] 67.96