![](images/08_01.png)

In [3]:
a = floor(runif(10, -10, 10))
b = letters[4:13]
c = c('yes', 'no', 'no', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'no')

df3 = data.frame(a, b, c)

In [4]:
df3

   a  b c
1  -2 d yes
2   5 e no
3  -5 f no
4  -4 g no
5   0 h no
6   1 i yes
7   3 j no
8   8 k yes
9   0 l yes
10  6 m no

In [8]:
df3[with (df3, order(a)),]

   a  b c
3  -5 f no
4  -4 g no
1  -2 d yes
5   0 h no
9   0 l yes
6   1 i yes
7   3 j no
2   5 e no
10  6 m no
8   8 k yes

In [12]:
matrix.data = matrix(1:40, nrow=10, ncol=4)
df = as.data.frame(matrix.data)
colnames(df) = sub(" ", "", paste("variable_", 1:ncol(df)))
rownames(df) = sub(" ", "", paste("id_", 1:nrow(df)))

In [13]:
df

      variable_1 variable_2 variable_3 variable_4
id_1   1         11         21         31
id_2   2         12         22         32
id_3   3         13         23         33
id_4   4         14         24         34
id_5   5         15         25         35
id_6   6         16         26         36
id_7   7         17         27         37
id_8   8         18         28         38
id_9   9         19         29         39
id_10 10         20         30         40