![](images/10_04.png)

In [2]:
install.packages('rjson')

Installing package into ‘/home/manhcuong/R/x86_64-pc-linux-gnu-library/4.1’
(as ‘lib’ is unspecified)

In [3]:
library('rjson')

In [9]:
json_file = fromJSON(file="./data/orange.json")
data = data.frame(json_file)

In [14]:
head(data, 10)

   Tree age  circumference
1  1     118  30
2  1     484  58
3  1     664  87
4  1    1004 115
5  1    1231 120
6  1    1372 142
7  1    1582 145
8  2     118  33
9  2     484  69
10 2     664 111

In [12]:
data_max_year = data[which.max(data$age),]

In [13]:
data_max_year

  Tree age  circumference
7 1    1582 145

In [15]:
data_min_year = data[which.min(data$age),]

In [16]:
data_min_year

  Tree age circumference
1 1    118 30

In [17]:
large_100_age_1000 = subset(data, age > 1000 & circumference > 100)

In [19]:
head(large_100_age_1000)

   Tree age  circumference
4  1    1004 115
5  1    1231 120
6  1    1372 142
7  1    1582 145
11 2    1004 156
12 2    1231 172

In [20]:
large_100_age_1000_json = toJSON(large_100_age_1000)
write(large_100_age_1000_json, file="./data/large_100_age_1000_new.json")

In [21]:
new_data = data.frame(fromJSON(file = "./data/large_100_age_1000_new.json"))

In [22]:
head(new_data)

  Tree age  circumference
1 1    1004 115
2 1    1231 120
3 1    1372 142
4 1    1582 145
5 2    1004 156
6 2    1231 172