![](images/10_03.png)

In [1]:
library("XML")
library("methods")

In [2]:
df = data.frame(mtcars)

In [4]:
head(df)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [7]:
df = cbind(names = rownames(df), df)
rownames(df) = c()

In [8]:
head(df)

  names             names             mpg  cyl disp hp  drat wt    qsec  vs am
1 Mazda RX4         Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1
2 Mazda RX4 Wag     Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1
3 Datsun 710        Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1
4 Hornet 4 Drive    Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0
5 Hornet Sportabout Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0
6 Valiant           Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0
  gear carb
1 4    4
2 4    4
3 4    1
4 3    1
5 3    2
6 3    1

In [14]:
doc = newXMLDoc()
top = newXMLNode('cars', doc = doc)

for (row in 1:nrow(df)) {
    carnode = newXMLNode('car', parent = top)
    newXMLNode("names", df[row, 'names'], parent=carnode)
    newXMLNode("mpg", df[row, 'mpg'], parent=carnode)
    newXMLNode("wt", df[row, 'wt'], parent=carnode)
    newXMLNode("gear", df[row, 'gear'], parent=carnode)
}

In [15]:
cat(saveXML(doc, indent = TRUE,
           prefix = '<?xml version="1.0" encoding="utf-8" standalone="no"?>\n'),
           file = "./data/mtcars_new.xml")

In [16]:
xml_data_frame = xmlToDataFrame("./data/mtcars_new.xml")

In [17]:
head(xml_data_frame)

  names             mpg  wt    gear
1 Mazda RX4         21   2.62  4
2 Mazda RX4 Wag     21   2.875 4
3 Datsun 710        22.8 2.32  4
4 Hornet 4 Drive    21.4 3.215 3
5 Hornet Sportabout 18.7 3.44  3
6 Valiant           18.1 3.46  3