![](images/07_01.png)

In [13]:
matrix_b = matrix(1:12, 
                  nrow = 4, 
                  dimnames = list(c('a', 'b', 'c', 'd'), c('x', 'y', 'z')))

matrix_b

  x y z
a 1 5  9
b 2 6 10
c 3 7 11
d 4 8 12

In [14]:
tB = t(matrix_b)

tB

  a b  c  d
x 1  2  3  4
y 5  6  7  8
z 9 10 11 12

In [15]:
subB = matrix_b[2:dim(matrix_b)[1], 1:dim(matrix_b)[2]]

subB

  x y z
b 2 6 10
c 3 7 11
d 4 8 12

In [16]:
dim(matrix_b)

[1] 4 3

In [17]:
matrix_A = matrix(1:9, byrow = FALSE, nrow = 3, dimnames = list(c('a', 'b', 'c'), c('x', 'y', 'z')))

In [18]:
matrix_A

  x y z
a 1 4 7
b 2 5 8
c 3 6 9

In [19]:
3 * matrix_A

  x y  z
a 3 12 21
b 6 15 24
c 9 18 27

In [20]:
matrix_A + subB

  x y  z
a 3 10 17
b 5 12 19
c 7 14 21

In [21]:
matrix_A - subB

  x  y  z
a -1 -2 -3
b -1 -2 -3
c -1 -2 -3